@import '../../../css/main.scss';

.RadarChart
{
    border-radius: 5px;
    margin: 5px;

    background-color: #282D30;

    width: 100%;

    font-size: 12px;

    .recharts-polar-grid .recharts-polar-grid-angle
    {
        display: none;
    }


    .recharts-surface .recharts-polar-angle-axis .recharts-polar-angle-axis-ticks
    {
        .recharts-polar-angle-axis-tick:nth-child(2)
        {
            transform: translate(-15px, -10px);
        }

        .recharts-polar-angle-axis-tick:nth-child(3)
        {
            transform: translate(-30px, 20px);
        }

        .recharts-polar-angle-axis-tick:nth-child(5)
        {
            transform: translate(15px, 10px);
        }

        .recharts-polar-angle-axis-tick:nth-child(6)
        {
            transform: translate(25px, -10px);
        }
    }
}