@import '../../css/main.scss';

aside
{
    background-color: $bg-main-color;

    display: flex;
    flex-direction: column;

    @media (min-height: 1024px) 
    {
        justify-content: center;
    }
}